{% extends 'base.html' %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="add-group-modal" tabindex="-1" role="dialog" aria-labelledby="add-group">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>Add Group</h1>
        <form id="add-group-form" action="{% url 'groups:create_group' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="name" id="id_name" placeHolder="Name" required>
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-default btn-main-reverse" aria-label="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="groups">
  <div class="container">
    <div class="row card shadow">
      <div class="col-md-6">
        <h1>Groups</h1>
        <h4>Hi, create new groups and invite your teammates</h4>
      </div>
      <div class="col-md-6 right-row-mrg">
        <p class="pull-right"><button type="button" class="btn btn-main-reverse" data-toggle="modal" data-target="#add-group-modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Group</button></p>
      </div>
    </div>
    <div class="row">
      <ul class="groups-list col-md-12">
        {% for group in object_list %}
        <li class="col-md-3 col-xs-6">
          <a href="{% url 'groups:list_links' group_id=group.pk %}">
            <div class="item shadow">
              <p>{{ group.name }}</p>
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}
