{% extends 'base.html' %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="add-link-modal" tabindex="-1" role="dialog" aria-labelledby="add-link">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Create Links</h1>
        <form id="add-group-form" action="{% url 'groups:create_link' group_id=group.pk %}" method="POST">
          <div class="form-group">
           {% csrf_token %}
            <input type="url" class="form-control" name="url" id="id_url" placeHolder="Url" required>
          </div>
          <span class="error help-block text-center"></span>
          <div class="text-right">
            <button type="submit" class="btn btn-default btn-main-reverse" aria-label="submit">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add-user-modal" tabindex="-1" role="dialog" aria-labelledby="add-user">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1>Invite Teammates</h1>
        <form id="add-user-form" action="{% url 'groups:add_user_to_group' group_id=group.pk %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="id_email" placeHolder="Email" required>
          </div>
          <span class="error help-block text-center"></span>
          <div class="text-right">
            <button type="submit" class="btn btn-default btn-main-reverse" aria-label="submit">Invite</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<section class="links-list">
  <div class="container">
    <div class="row card shadow">
      <div class="col-md-12 brdcrumb">
        <p><a href="{% url 'groups:list_groups' %}">Back</a></p>
      </div>
        <div class="">
        <h1>Filter Links</h1>
        <form id="add-group-form" action="{% url 'groups:list_links' group_id=group.pk %}" method="GET">
          <div class="form-group">
            <input type="text" class="form-control" name="content" id="id_content" placeHolder="insert..." required>
          </div>
          <span class="error help-block text-center"></span>
          <div class="text-right">
            <button type="submit" class="btn btn-default btn-main-reverse" aria-label="submit">Filter</button>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h1>{{ group.name }}</h1>
        <h4>Some cool text</h4>
      </div>
      <div class="col-md-6 right-row-mrg">
        <div class="pull-right">
          <button type="button" class="btn btn-main" data-toggle="modal" data-target="#add-user-modal">Invite Teammates</button>
          <button type="button" class="btn btn-main-reverse" data-toggle="modal" data-target="#add-link-modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Link</button>
        </div>
      </div>  
      <ul class="list-group col-md-12">
      {% for item in object_list %}
        <li class="list-group-item">
          <span class="item">
            <p class="votes" id="{{ item.pk }}">{{ item.votes }}</p>
            <p class="sub-text">votes</p>
          </span>
          <span class="item">
            <p><a href="{% url 'groups:link_detail' pk=item.pk %}">{{item.title}}</a></p>
            <p>
              <a href=""><span class="tag">tag1</span></a>
              <a href=""><span class="tag">tag1</span></a>
              <a href=""><span class="tag">tag1</span></a>
            </p>
            <!-- <a  class="sub-text" href="{{ item.url }}">{{ item.url }}</a> -->
          </span>
          <span class="item pull-right text-center actions">
            <p><span class="glyphicon glyphicon-heart add_repo" url="{% url 'groups:link_like' pk=item.pk %}" aria-hidden="true"></span></p>
            <p><a href=""><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></p>
          </span>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript">

    $(function() {
      $('.add_repo').click(function() {
        var csrftoken = $.cookie('csrftoken');
        var url = $(this).attr('url');
        $.ajax({
          url:  url,
          type: "POST",
          headers: {"X-CSRFToken": csrftoken},
          success: function(data) {
            $('#' + data.id).html(data.votes);
          }
        });
      });
    });

  </script>


{% endblock %}
