{% extends 'base.html' %}

{% block content %}
<section class="links-list">
  <div class="container">
    <div class="row">
	    <div class="col-md-12">
	      <h1>Feed</h1>
        {% for item in object_list %}
        <ul class="list-group">
          <li class="list-group-item"> <a href="{% url 'groups:link_detail' pk=item.pk %}">{{item.title}}</a> <a href="{{ item.url }}">{{ item.url }}</a></li>
        </ul>
        {% endfor %}
	    </div>
    </div>
    <div class="row">
        <h1>Create Links</h1>
    <form action="{% url 'groups:create_link' group_id=group.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create" />
    </form>
        <h1>Invite users</h1>
        <form action="{% url 'groups:add_user_to_group' group_id=group.pk %}" method="post">
          {% csrf_token %}
          {{ add_user_form.as_p }}
          <input type="submit" value="Invite" />
        </form>
    </div>
  </div>
</section>
{% endblock %}
