{% load i18n %}{% autoescape off %}
{% blocktrans %}You're receiving this email because someone added you to a group in Alexandria.{% endblocktrans %}
{% trans "Please go to the following page and choose a password to activate your account:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username:" %} {{ user.get_username }}

{% trans "We hope to see you on our site!" %}

{% blocktrans %}The Alexandria team{% endblocktrans %}

{% endautoescape %}
