{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/inlineDisqussions.css' %}">
{% endblock %}

{% block content %}
  <section class="link-detail">
    <div class="container">
        <div class="card shadow col-md-7">
          <div class="row">
            <div class="brdcrumb">
              <p><a href="{% url 'groups:list_links' group_id=object.group.id %}">Back</a></p>
            </div>
            <h1>{{ object.title }}</h1>
            {{ object.content|safe }}
          </div>
          <div class="row">
            <div id="disqussions_wrapper" class="comments"></div>
          </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/inlineDisqussions.js' %}"></script>
    <script>
     disqus_shortname = 'andersonresende';
      jQuery(document).ready(function() {
        jQuery("p:not('.highlighted, .narrow-p')").inlineDisqussions({
          position: 'right'
        });
        jQuery("p.highlighted").inlineDisqussions({
          identifier: 'disqussion-highlighted',
          highlighted: true,
        });
        jQuery("p.narrow-p").inlineDisqussions({
          identifier: 'disqussion-narrow-p',
          position: 'left'
        });
      });
    </script>
{% endblock %}