// General

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 50px;
  background-color: #F5F5F5;
  font-size: 18px;
  height: 100%;
}

h1 {
  color: $red-color;
}

h4 {
  color: $gray-color;
  font-size: 16px;
  margin-top: 0.3em;
}

a {
  color: #777;

  &:hover {

  }
}

footer {
  margin: 1em auto;

  .footer-text {
    p {
      font-size: 14px;
      color: $gray-color;
      margin: 0;
    }

    span {
      color: $green-color;
    }
  }
}

.btn-main {
  background-color: $green-color;
  color: #fff;
  border-radius: 0;
  border: 1px solid #16a085;
  
  &:hover {
    background-color: transparent;
    color: $green-color;

    span {
      color: $green-color;
    }
  }
}

.btn-main-reverse {
  background-color: transparent;
  color: $green-color;
  border-radius: 0;
  border: 1px solid #16a085;

  &:hover {
    background-color: $green-color;
    color: #fff;

    span {
      color: #fff;
    }
  }
}

.shadow {
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.1);
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
}
  
.card {
  margin: 2em 15px;
  padding: 0 1em;
  background-color: #fff;
}

.right-row-mrg {
  margin: 20px 0;
}