//Groups 

.groups {
  .item {
    min-height: 200px;
    background-color: #ccc;
    position: relative;

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
  }

  .right-row {
    margin: 20px 0;
  }
}