// Home
.intro {
  height: 520px;
  background-image: url("#{$siteurl}/static/images/back.png");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
    
  .header {
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .text {
      text-align: center;

      h1 {
        font-family: 'Bitter', serif;
      }

      h1, p {
        color: #fff;
      }

      p {
        font-size: 25px;
      }
    }
  }

  .btn-signup {
    background-color: $red-color;
    border-color: $red-color;
    margin-top: 10px;
    font-size: 25px;
    padding: 13px 22px;
    min-width: 250px;

    &:hover {
      color: $red-color;
    }
  }
}

.pitch {
  padding: 2em;
  background-color: #fff;
  text-align: center;
}