// Links list

.links-list {
	margin: 1em auto;
  
  .brdcrumb {
    margin: 20px 0 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.19);
  }
  
  h4 {
    margin-bottom: 20px;
  }

  .links {
    margin: 2em auto;
  }
}