// Links list

.links-list {
	margin: 1em auto;
  
  .brdcrumb {
    margin: 20px 0 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.19);
  }
  
  h4 {
    margin-bottom: 20px;
  }
  
  .feed-header {
    margin-bottom: 2em;
  }

  .list-group {
    margin-top: 2em;
  }
  
  .list-group-item {
    border-radius: 0;
    border: 1px solid #EAE9D9;
    margin: 10px 0;
    padding: 5px 0;

    .item {
      display: inline-block;
      padding: 5px 10px;

      .tag {
        padding: 2px 5px;
        display: inline-block;
        background-color: $green-color;
        color: #fff;
        font-size: 12px;
      }

      .votes {
        color: #555;
        font-size: 25px;
        text-align: center;
      }

      .sub-text {
        font-size: 12px;
        color: #7f8c8d;
        text-align: center;

        a {
          font-size: 15px;
          color: #7f8c8d;

          &:hover {
            color: #4A4E4F;
          }
        }
      }

      p {
        margin: 0;
      }

      a {
        font-size: 22px;
        color: $red-color;

        &:hover {
          color: #952317;;
          text-decoration: none;
        }
      }

      .glyphicon {
        font-size: 22px;
        color: #ccc;
      }

      .glyphicon-heart:hover {
        color: $red-color;
        
        cursor: pointer;
      }
    }
  }
}