// Links list

.links-list {
	margin: 1em auto;
  
  .brdcrumb {
    margin: 20px 0 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.19);
  }

 .tags {
    a, span {
      padding: 0px 5px;
      display: inline-block;
      background-color: $green-color;
      color: #fff;
      font-size: 13px !important;
    }
  }
  
  h4 {
    margin-bottom: 20px;
  }
  
  .feed-header {
    margin-bottom: 2em;
  }

  .search-form {
    margin: 2em auto;
    text-align: center;

    input {
      width: 70%;
    }
  }

  .list {
    margin: 2em auto;
  }
  
  .list-item {
    border-radius: 0;
    border-bottom: 1px solid #EAE9D9;
    padding: 10px 0;

    .item {

      .votes {
        color: #555;
        font-size: 25px;
        text-align: center;
      }

      .votes-text {
        font-size: 12px;
        color: #7f8c8d;
        text-align: center;

        a {
          font-size: 15px;
          color: #7f8c8d;

          &:hover {
            color: #4A4E4F;
          }
        }
      }

      .description {
        font-size: 14px;
        color: #7f8c8d;
        padding-top: 10px;
      }

      p {
        margin: 0;
      }

      a {
        font-size: 22px;
        color: $red-color;

        &:hover {
          color: #952317;;
          text-decoration: none;
        }
      }

      .glyphicon {
        font-size: 22px;
        color: #ccc;

        &.active {
          color: $red-color;
        }
      }

      .glyphicon:hover {
        color: $red-color;
        cursor: pointer;
      }
    }
  }
}