$extra-small-devices: "(max-width: 440px)";
$small-devices: "(max-width: 768px)";
$medium-devices: "(max-width: 992px)";
$large-devices: "(max-width: 1200px)";

$extra-small-devices-min: "(min-width: 440px)";
$small-devices-min: "(min-width: 768px)";
$medium-devices-min: "(min-width: 992px)";
$large-devices-min: "(min-width: 1200px)";
$extra-large-devices: "(min-width: 1440px)";

$siteurl: "http://localhost:8000";

$green-color: #16a085;
$red-color: #e74c3c;
$gray-color: #95a5a6;
$dark-gray-color: #494848;

@import "home";
@import "groups-list";
@import "links-list";
@import "link-detail";
@import "user";
@import "custom-bootstrap";
@import "base";