{% extends 'base.html' %}

{% block content %}
<section class="user">
  <div class="container">
    <div class="card shadow">
      <h1>Sign Up</h1>
      <form id="create-user-form" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" name="email" id="id_email" placeHolder="Email" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password1" id="id_password1" placeHolder="Password" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password2" id="id_password2" placeHolder="Password Confirmation" required>
        </div>
        <span class="error help-block text-center"></span>
        <div class="text-right">
          <button type="submit" class="btn btn-default btn-main" aria-label="submit">Sign Up</button>
        </div>
      </form>
	  </div>
  </div>
</section>
{% endblock %}