{% extends 'base.html' %}

{% block content %}
<section class="user">
  <div class="container">
    <div class="card shadow">
      <h1>Login</h1>
      <form id="login-form" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="email" class="form-control" name="username" id="id_username" placeHolder="Email" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" id="id_password" placeHolder="Password" required>
        </div>
        <span class="help-block text-center"></span>
        <div class="text-right">
          <button type="submit" class="btn btn-default btn-main" aria-label="submit">Login</button>
        </div>
      </form>
	  </div>
  </div>
</section>
{% endblock %}
