{% extends "base.html" %}


{% block content %}

<section class="user">
  <div class="container">
    <div class="card shadow">
	  {% if validlink %}
      <h1>Login</h1>
      <h4>Please enter your password twice so we can verify you typed it in correctly.</h4>
      <form id="password-reset-form" action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <input type="password" class="form-control" name="new_password1" id="id_new_password1" placeHolder="Password" required>
          <span class="error help-block">{{ form.new_password1.errors }}</span>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="new_password2" id="id_new_password2" placeHolder="Confirm Password" required>
          <span class="error help-block">{{ form.new_password2.errors }}</span>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-default btn-main" aria-label="submit">Sign Up</button>
        </div>
      </form>
      {% else %}
	<h4>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</h4>
	{% endif %}
	</div>
  </div>
</section>
{% endblock %}