{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<section class="intro">
  <div class="container">
    <div class="jumbotron header">
      <div class="text">
	      <h1>Content aggregator</h1>
	      <p>Curated content by the best people in the world: your teammates</p>
	      <p><a href="{% url 'users:create' %}" role="button" class="btn btn-main btn-lg btn-signup">sign up</a></p>
      </div>
    </div>
  </div>
</section>
<section class="pitch shadow">
  <div class="container">
    <div class="feature col-md-4">
      <img src="{% static 'images/share.png' %}" alt="Share">
    	<h3>Share</h3>
    	<p>Create groups and share content with people from your team. Alexandria improves the way in which you consume and share content.</p>
    </div>
    <div class="feature col-md-4">
      <img src="{% static 'images/discuss.png' %}">
    	<h3>Discuss</h3>
    	<p>Learn more: Alexandria inline comments makes possible to have discussions about a specific part of an article.</p>
    </div>
    <div class="feature col-md-4">
      <img src="{% static 'images/categorize.png' %}">
		  <h3>Categorize</h3>
    	<p>To better organize your content, Alexandria extracts important automated tags that help you and your team to find what you need.</p>
	 </div>
  </div>
</section>
{% endblock %}