{% extends 'base.html' %}

{% block content %}
<div class="mask"></div>
<section class="intro">
  <div class="container">
    <div class="jumbotron header">
      <div class="text">
	      <h1>Share knowledge</h1>
	      <p>Create groups, share links & see what your friends are learning</p>
	      <p><a href="{% url 'users:create' %}" role="button" class="btn btn-main btn-lg btn-signup">sign up</a></p>
      </div>
    </div>
  </div>
</section>

<section class="pitch">
  
</section>
{% endblock %}