//Groups 

.groups {
  margin: 1em auto;
  
  h4 {
    margin-bottom: 20px;
  }

  li {
    margin: 15px auto;
    list-style: none;

    .item {
      min-height: 200px;
      background-color: $red-color;
      position: relative;
      transition: all .2s ease-in-out;

      &:hover {
        transform: scale(1.04);
      }
    }

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      font-family: 'Bitter', serif;
      color: #fff;
      opacity: 1;
    }
  }
}