.intro {
  height: 520px;
  background-image: url("http://localhost:8000/static/images/back.png");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%; }
  .intro .header {
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); }
    .intro .header .text {
      text-align: center; }
      .intro .header .text h1 {
        font-family: 'Bitter', serif; }
      .intro .header .text h1, .intro .header .text p {
        color: #fff; }
      .intro .header .text p {
        font-size: 25px; }
  .intro .btn-signup {
    background-color: #e74c3c;
    border-color: #e74c3c;
    margin-top: 10px;
    font-size: 25px;
    padding: 13px 22px;
    min-width: 250px; }
    .intro .btn-signup:hover {
      color: #e74c3c; }

.groups {
  margin: 1em auto; }
  .groups h4 {
    margin-bottom: 20px; }
  .groups .toolbar {
    text-align: right; }
    @media (max-width: 440px) {
      .groups .toolbar {
        text-align: left; } }
  .groups li {
    margin: 15px auto;
    list-style: none; }
    .groups li .item {
      min-height: 200px;
      background-color: #e74c3c;
      position: relative;
      transition: all .2s ease-in-out; }
      .groups li .item:hover {
        transform: scale(1.04); }
    .groups li p {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      font-family: 'Bitter', serif;
      color: #fff;
      opacity: 1; }

.links-list {
  margin: 1em auto; }
  .links-list .tags a, .links-list .tags span {
    padding: 0px 5px;
    display: inline-block;
    background-color: #16a085;
    color: #fff;
    font-size: 13px !important; }
  .links-list h4 {
    margin-bottom: 20px; }
  .links-list .toolbar {
    text-align: right; }
    @media (max-width: 992px) {
      .links-list .toolbar {
        text-align: left; } }
    @media (max-width: 440px) {
      .links-list .toolbar {
        text-align: center; } }
    .links-list .toolbar button {
      margin-bottom: 10px; }
  .links-list .feed-header {
    margin-bottom: 2em; }
  .links-list .search-form {
    margin: 2em auto;
    text-align: center; }
    .links-list .search-form input {
      width: 70%; }
      @media (max-width: 768px) {
        .links-list .search-form input {
          margin-bottom: 10px;
          width: 100%; } }
    @media (max-width: 992px) {
      .links-list .search-form {
        margin: 1em auto; } }
    @media (max-width: 768px) {
      .links-list .search-form {
        text-align: right; } }
  .links-list .list {
    margin: 2em auto; }
  .links-list .list-item {
    border-radius: 0;
    border-bottom: 1px solid #EAE9D9;
    padding: 10px 0; }
    .links-list .list-item .item .votes {
      color: #494848;
      font-size: 25px;
      text-align: center; }
      @media (max-width: 768px) {
        .links-list .list-item .item .votes {
          text-align: left; } }
    .links-list .list-item .item .votes-text {
      font-size: 12px;
      color: #95a5a6;
      text-align: center; }
      @media (max-width: 768px) {
        .links-list .list-item .item .votes-text {
          text-align: left; } }
    .links-list .list-item .item .description {
      font-size: 15px;
      color: #95a5a6;
      padding-top: 10px; }
    .links-list .list-item .item p {
      margin: 0; }
    .links-list .list-item .item a {
      font-size: 22px;
      color: #e74c3c; }
      .links-list .list-item .item a:hover {
        text-decoration: none;
        color: #952317; }
    .links-list .list-item .item .glyphicon {
      font-size: 22px;
      color: #ccc; }
      .links-list .list-item .item .glyphicon.active {
        color: #e74c3c; }
    .links-list .list-item .item .glyphicon:hover {
      color: #e74c3c;
      cursor: pointer; }

.link-detail {
  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  color: #000;
  line-height: 30px; }
  .link-detail .card {
    padding: 0 2em 2em; }
  .link-detail h1 {
    line-height: 50px;
    margin-bottom: 1em;
    color: #000; }
  .link-detail img {
    width: 100%; }
  .link-detail .comments {
    margin-top: 2em;
    border-top: 1px dashed #EAE9D9; }
    .link-detail .comments a.main-disqussion-link {
      color: #e74c3c !important; }

.user .card {
  padding: 1em;
  max-width: 40%;
  margin: 70px auto 0; }
.user h1 {
  margin-bottom: 20px; }

body.modal-open {
  overflow: inherit;
  padding-right: 0 !important; }

.modal {
  overflow-y: auto; }

.modal-open {
  overflow: auto; }

.modal-content {
  border: none;
  border-radius: 0; }

.modal-body {
  padding: 20px; }

.navbar-default {
  background-color: #fff;
  border: none;
  border-radius: 0; }
  .navbar-default .navbar-right {
    float: right !important; }
  @media (max-width: 768px) {
    .navbar-default .navbar-header:after {
      clear: none; } }
  .navbar-default .navbar-brand {
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 25px; }
  .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
    color: #16a085; }
  .navbar-default li a {
    font-size: 18px;
    font-weight: 500; }
    @media (max-width: 768px) {
      .navbar-default li a {
        padding: 7px 15px; } }

.form-control {
  border-radius: 0; }
  .form-control:focus {
    outline: none;
    border-color: #16a085;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }

.btn {
  text-transform: uppercase;
  transition: all 0.8s ease; }
  .btn span {
    transition: all 0.8s ease;
    color: #16a085; }

.list-group-item {
  border: none; }

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 50px;
  background-color: #F5F5F5;
  font-size: 18px;
  height: 100%; }

h1 {
  color: #494848; }

h4 {
  color: #95a5a6;
  font-size: 16px;
  margin-top: 0.3em; }

a {
  color: #e74c3c; }
  a:hover {
    color: #952317; }

footer {
  margin: 1em auto; }
  footer .footer-text p {
    font-size: 14px;
    color: #95a5a6;
    margin: 0; }
  footer .footer-text span {
    color: #95a5a6; }

.btn-main {
  background-color: #16a085;
  color: #fff;
  border-radius: 0;
  border: 1px solid #16a085; }
  .btn-main:hover {
    background-color: transparent;
    color: #16a085; }
    .btn-main:hover span {
      color: #16a085; }

.btn-main-reverse {
  background-color: transparent;
  color: #16a085;
  border-radius: 0;
  border: 1px solid #16a085; }
  .btn-main-reverse:hover {
    background-color: #16a085;
    color: #fff; }
    .btn-main-reverse:hover span {
      color: #fff; }

input:-webkit-autofill, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-text-fill-color: #555 !important; }

label {
  color: #95a5a6;
  font-size: 16px;
  margin-top: 0.3em;
  text-transform: capitalize;
  padding-right: 30px;
  font-weight: 200; }

.shadow {
  -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }

.card {
  margin: 2em 15px;
  padding: 0 1em;
  background-color: #fff; }

.right-row-mrg {
  margin: 20px 0; }

.errorlist {
  list-style: none;
  font-size: 13px;
  color: #e74c3c;
  text-align: right; }

.brdcrumb {
  margin: 20px 0 0;
  border-bottom: 1px solid rgba(204, 204, 204, 0.19); }

/*# sourceMappingURL=style.css.map */
